<div class="mdl-grid">

    <div class="mdl-layout-spacer"></div>

    <!-- New Account Card -->
    <div class="mdl-card mdl-cell--4-col mdl-cell--5-col-tablet mdl-shadow--2dp">

        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{title}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Here is the most basic info to get started. We will email with a link to enter your password.
        </div>

        <form [ngFormModel]="newAccountForm">
            <!-- New Account Form -->
            <div class="mdl-card__supporting-text">

                <!-- First Name -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-textfield__label" for="txtFirstName">First Name...</label>
                    <input class="mdl-textfield__input" type="text" pattern="[A-Z,a-z]*" id="txtFirstName" ngControl="firstName" />
                    <div *ngIf="newAccountForm.controls.firstName.dirty && !newAccountForm.controls.firstName.valid">
                        <span class="mdl-textfield__error">Only letters and no spaces, please!</span>
                    </div>
                </div>

                <!-- Last Name -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-textfield__label" for="txtlastName">Last Name...</label>
                    <input class="mdl-textfield__input" type="text" pattern="[A-Z,a-z]*" id="txtlastName" ngControl="lastName" />
                    <div *ngIf="newAccountForm.controls.lastName.dirty && !newAccountForm.controls.lastName.valid">
                        <span class="mdl-textfield__error">Only letters and no spaces, please!</span>
                    </div>
                </div>

                <!-- Email -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-textfield__label" for="txtEmail">Email Address</label>
                    <input class="mdl-textfield__input" type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" id="txtEmail" ngControl="email" />
                    <div *ngIf="newAccountForm.controls.email.dirty && !newAccountForm.controls.email.valid">
                        <span class="mdl-textfield__error">Something is fishy with your email, remember no spaces :)</span>
                    </div>
                </div>

            </div>

            <div class="mdl-card__actions mdl-card--border">
                <button (ngClick)="onCreateAccount(newAccountForm.value)" [disabled]="!newAccountForm.valid" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Create Account</button>
            </div>
        </form>

    </div>

    <div class="mdl-layout-spacer"></div>

</div>